<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Battleships</title>
</head>
<body>


{% set data = board.mask %}

{{ message }}

<table cellpadding="5" cellspacing="2" border="1">
    <tr>
        <th style="background: yellow">&nbsp;</th>

        {% for col in data %}
        <th style="background: yellow">
            {{ loop.index }}
        </th>
        {% endfor %}
    </tr>

    {% for col in data %}
        <tr>
            <th style="background: yellow">
                {{ loop.index }}
                {% set colNum = loop.index %}
            </th>

            {% for row in col %}
            <td width="30" style="text-align: center">
                <a href="{{ path('play', {'col':colNum, 'row':loop.index}) }}" style="text-decoration: none">{{ row }}</a>
            </td>
            {% endfor %}

        </tr>
    {% endfor %}

</table>


</body>
</html>