<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Battleships</title>
</head>
<body>


{% set data = board.getBoardAndHideShips %}


<a href="{{ path('newGame') }}">New game?</a>


{% if message is defined %}
    <div>{{ message }}</div>
{% endif %}

<table cellpadding="5" cellspacing="2" border="1">
    <tr>
        <th style="background: yellow">&nbsp;</th>

        {% for row in data %}
        <th style="background: yellow">
            {{ loop.index }}
        </th>
        {% endfor %}
    </tr>

    {% for row in data %}
        <tr>
            <th style="background: yellow">
                {{ loop.index }}
                {% set rowNum = loop.index %}
            </th>

            {% for col in row %}
            <td width="30" style="text-align: center">
                <a href="{{ path('play', {'row':rowNum, 'col':loop.index}) }}" style="text-decoration: none">{{ col }}</a>
            </td>
            {% endfor %}

        </tr>
    {% endfor %}

</table>


</body>
</html>